$gray:#B9B9B9;
$dark-gray:#333;
$pink: #FC1370;
$light-pink: #FF97C0;
$dark-pink: #C71059;
$blue: #ACCDFF;
$light-blue: #CDEAFB;
$dark-blue: #3F89FC;
$violet: #8342E9;
$light-violet: #E6D7FF;
$orange: #F95721;
$yellow: #FEBD2F;
$light-yellow: #FFE6B0;
$beige: #FFEFCB;